/* core content */
@font-face {
  font-family: 'Sweden-Sans';
  src: url("fonts/SwedenSans/SwedenSans_webfonts/swedensans-webfont.eot");
  src: url("fonts/SwedenSans/SwedenSans_webfonts/swedensans-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SwedenSans/SwedenSans_webfonts/swedensans-webfont.woff") format("woff"), url("fonts/SwedenSans/SwedenSans_webfonts/swedensans-webfont.ttf") format("truetype"), url("fonts/SwedenSans/SwedenSans_webfonts/swedensans-webfont.svg#On-AirInline") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sweden-Sans';
  src: url("fonts/SwedenSans/SwedenSansBold_webfonts/swedensansbold-webfont.eot");
  src: url("fonts/SwedenSans/SwedenSansBold_webfonts/swedensansbold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SwedenSans/SwedenSansBold_webfonts/swedensansbold-webfont.woff") format("woff"), url("fonts/SwedenSans/SwedenSansBold_webfonts/swedensansbold-webfont.ttf") format("truetype"), url("fonts/SwedenSans/SwedenSansBold_webfonts/swedensansbold-webfont.svg#On-AirInline") format("svg");
  font-weight: bold;
  font-style: normal;
}

:root {
  --goldenrod: #FFD800;
  --fuschia: #D1448B;
  --violet: #5D3B9E;
  --cerulean: #4AD5D8;
  --gunmetal: #191923;
  --white: #FFFFFA;
  --sky: #5189E3;
}

.goldenrod {
  background-color: var(--goldenrod);
}

.fuschia {
  background-color: var(--fuschia);
  color: var(--white);
}

.violet {
  background-color: var(--violet);
  color: var(--white);
}

.cerulean {
  background-color: var(--cerulean);
  color: var(--white);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Sweden-Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6;
  margin: 0;
  color: var(--gunmetal);
  background-color: var(--sky);
  overscroll-behavior: none;
  cursor: crosshair;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 500vw;
  -webkit-transform: rotate(90deg) translateY(-100vh);
          transform: rotate(90deg) translateY(-100vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1 / 11;
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  grid-row: 1 / 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg) translateX(-100vh);
          transform: rotate(-90deg) translateX(-100vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

section {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
}

section .text-grid > * {
  opacity: 0;
  -webkit-transform: translate3d(-2rem, 0, 0);
          transform: translate3d(-2rem, 0, 0);
  -webkit-transition: opacity 700ms var(--delay, 0ms), -webkit-transform 700ms var(--delay, 0ms);
  transition: opacity 700ms var(--delay, 0ms), -webkit-transform 700ms var(--delay, 0ms);
  transition: opacity 700ms var(--delay, 0ms), transform 700ms var(--delay, 0ms);
  transition: opacity 700ms var(--delay, 0ms), transform 700ms var(--delay, 0ms), -webkit-transform 700ms var(--delay, 0ms);
}

section.is-visible .text-grid > * {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

/* headings + links */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

p + p {
  margin-top: 1rem;
}

h2,
h3,
h4 {
  font-family: 'Sweden-Sans', sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  color: var(--gunmetal);
}

h2 {
  font-size: 3rem;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

.link {
  position: relative;
}

.link:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2.5px;
  display: block;
  margin-top: 3.5px;
  right: 0;
  background: var(--goldenrod);
  transition: width .4s ease-in-out;
  -webkit-transition: width .4s ease-in-out;
}

.link:hover:after {
  width: 100%;
  left: 0;
  background: var(--goldenrod);
}

button {
  background-color: transparent;
  font-size: 1.25rem;
  border: none;
  margin: 0;
  padding: 0;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-align: right;
  cursor: pointer;
}

.title1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4 / 7;
  text-align: right;
  margin-top: -2rem;
  border-right: 5px solid var(--fuschia);
  padding-right: 1rem;
  line-height: 1.0;
}

@media (min-width: 50em) {
  .title1 span:first-child {
    font-size: 5rem;
  }
}

.title2 {
  font-size: 7rem;
  line-height: 1.0;
  grid-column: 6 / -1;
  grid-row: 4 / -1;
  margin-top: -2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 50em) {
  .title2 {
    font-size: 8rem;
  }
}

h3 {
  font-size: 2.5rem;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / span 4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
  z-index: 5;
}

@media (min-width: 50em) {
  h3 {
    font-size: 4rem;
  }
}

/* grids */
.grid {
  position: absolute;
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  -ms-grid-columns: 2.5% (1fr)[9] 2.5%;
      grid-template-columns: 2.5% repeat(9, 1fr) 2.5%;
  -ms-grid-rows: 5% 5% (1fr)[5] 10% 5%;
      grid-template-rows: 5% 5% repeat(5, 1fr) 10% 5%;
  grid-column-gap: 25px;
}

@media (min-width: 50em) {
  .text-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2.5% (1fr)[9] 2.5%;
        grid-template-columns: 2.5% repeat(9, 1fr) 2.5%;
    -ms-grid-rows: 5% 5% (1fr)[5] 10% 5%;
        grid-template-rows: 5% 5% repeat(5, 1fr) 10% 5%;
    grid-column-gap: 25px;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
  }
}

.text-grid::after {
  content: '';
  grid-area: 4 / 4 / -4 / -4;
  z-index: 0;
}

.body-text {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4 / span 4;
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6 / 9;
  z-index: 4;
}

/* fixed frame content */
#home {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-row: 2;
  grid-row: 2;
  z-index: 75;
}

#home h1 {
  font-size: 2rem;
  line-height: 1;
}

#home .link:after {
  margin-top: 10px;
  height: 3.5px;
}

#nav {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
  -ms-grid-row: 2;
  grid-row: 2;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -ms-grid-column-align: center;
      justify-self: center;
}

#nav li {
  float: left;
}

#nav li a {
  text-align: center;
  margin: 0 1rem;
  padding: 0 .25rem;
  z-index: 75;
  color: var(--goldenrod);
}

#nav li .link:after {
  background-color: var(--fuschia);
}

#nav li:nth-child(2) .link:after {
  background-color: var(--violet);
}

#nav li:nth-child(3) .link:after {
  background-color: var(--cerulean);
}

#ground {
  height: 100%;
  width: 100vw;
  background-image: url("images/mc-floor-grass.png");
  background-size: contain;
  background-repeat: repeat-x;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9 / 10;
  z-index: 100;
}

#enter-nav {
  z-index: 100;
  position: absolute;
  right: 5%;
  top: 5%;
  color: var(--white);
}

#about {
  z-index: 1000;
  display: none;
}

#about .grid {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  overflow: none;
}

#about .grid button {
  position: absolute;
  top: 5%;
  right: 5%;
}

#about .grid h1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3 / 10;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 3.5rem;
  padding-bottom: .25rem;
  border-bottom: 5px solid var(--goldenrod);
}

#about .grid .subtitle {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / 7;
  -ms-grid-row: 5;
  grid-row: 5;
  font-size: 1.4rem;
}

#about .grid .subcontent {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / 10;
  -ms-grid-row: 5;
  grid-row: 5;
  font-size: .95rem;
}

#about .grid .subcontent h4 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / 10;
  -ms-grid-row: 3;
  grid-row: 3;
  margin-bottom: 2rem;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 1.5rem;
}

#about .grid .subcontent a {
  color: var(--sky);
}

#lander {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  scroll-snap-align: start;
}

#lander h1 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
  -ms-grid-row: 4;
  grid-row: 4;
  font-size: 4.5rem;
  word-spacing: 1rem;
  color: var(--white);
  padding-bottom: .5rem;
  border-bottom: 5px solid var(--goldenrod);
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

#lander .subtitle {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
  -ms-grid-row: 5;
  grid-row: 5;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

#lander .caption {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / 8;
  -ms-grid-row: 8;
  grid-row: 8;
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  opacity: .75;
}

#menu {
  width: 100vw;
  height: 100vh;
  z-index: 5;
  scroll-snap-align: start;
}

#menu div {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 4;
  grid-row: 4;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: inherit;
}

#menu div a {
  font-size: 2.5rem;
}

#menu div .link:after {
  background-color: var(--fuschia);
  height: 5px;
  margin-top: -2.5px;
}

#menu div:nth-child(2) {
  -ms-grid-row: 5;
  grid-row: 5;
}

#menu div:nth-child(2) .link:after {
  background-color: var(--violet);
}

#menu div:nth-child(3) {
  -ms-grid-row: 6;
  grid-row: 6;
}

#menu div:nth-child(3) .link:after {
  background-color: var(--cerulean);
}

/* section css */
section:nth-child(4) h2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3 / 10;
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  grid-row: 3 / 8;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-indent: -1rem;
  z-index: 100;
}

section:nth-child(5) .text-grid::after {
  background-image: url("images/mc-img1A.png");
  background-size: cover;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-area: 2 / 6 / 6 / 11;
  margin: 2rem;
}

section:nth-child(5) h3 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-left: 1rem;
  border-bottom: 5px solid var(--fuschia);
  padding-bottom: 1rem;
}

section:nth-child(6) .text-grid::after {
  background-image: url("images/mc-img1B.png");
  background-size: cover;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-area: 5 / 4 / 8 / 9;
  margin-left: -5rem;
  margin-right: 7.5rem;
}

section:nth-child(6) h3 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7 / 11;
  grid-row: 6 / -1;
  text-align: right;
  margin-right: 1rem;
  border-top: 5px solid var(--fuschia);
  padding-top: 1rem;
}

section:nth-child(6) .body-text {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / 6;
  margin-top: 3rem;
  margin-right: 1rem;
}

section:nth-child(7) .text-grid::after {
  background-image: url("images/mc-img1C.png");
  background-size: cover;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-area: 3 / 6 / 7 / 11;
  margin: 2rem;
}

section:nth-child(7) h3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / 7;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  border-bottom: 5px solid var(--fuschia);
  padding-bottom: 1rem;
}

section:nth-child(7) .body-text {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / 6;
  grid-row: 6 / -1;
  margin-top: -3rem;
  margin-left: -8rem;
}

section:nth-child(8) .text-grid::after {
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 3 / 2 / 8 / 7;
  margin: 2rem;
}

section:nth-child(8) .title1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4 / 7;
  margin-top: -2rem;
  border-right: 5px solid var(--violet);
  padding-right: 1rem;
}

section:nth-child(8) .title2 {
  grid-column: 5 / -1;
  grid-row: 4 / -1;
}

section:nth-child(9) h2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3 / 10;
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  grid-row: 3 / 8;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-indent: -1rem;
  z-index: 100;
}

section:nth-child(10) .text-grid::after {
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 3 / 2 / 8 / 7;
  margin: 2rem;
  background-image: url("images/mc-img2A.png");
  background-size: cover;
}

section:nth-child(10) h3 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-column: 6 / 10;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  text-align: right;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  border-bottom: 5px solid var(--violet);
  margin-bottom: -1rem;
  padding-bottom: 1rem;
}

section:nth-child(10) .body-text {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7 / 11;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / 7;
  margin-right: 2.5rem;
}

section:nth-child(11) .text-grid::after {
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-area: 4 / 6 / 8 / 11;
  margin: 2rem;
  background-image: url("images/mc-img2B.png");
  background-size: cover;
}

section:nth-child(11) h3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3 / 8;
  grid-row: 6 / -1;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  border-top: 5px solid var(--violet);
  padding-top: 1rem;
}

section:nth-child(11) .body-text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / 6;
  margin-top: 1rem;
  margin-left: 6.5rem;
}

section:nth-child(12) .text-grid::after {
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-area: 3 / 3 / 8 / 8;
  margin: 2rem;
  background-image: url("images/mc-img2C.png");
  background-size: cover;
}

section:nth-child(12) h3 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7 / 11;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  text-align: right;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  border-bottom: 5px solid var(--violet);
  margin-bottom: -1rem;
  padding-bottom: 1rem;
}

section:nth-child(12) .body-text {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8 / 11;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / 7;
}

section:nth-child(13) .text-grid::after {
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 3 / 2 / 8 / 7;
  margin: 2rem;
}

section:nth-child(13) .title1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / 6;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4 / 7;
  margin-top: -2rem;
  border-right: 5px solid var(--cerulean);
  padding-right: 1rem;
}

section:nth-child(13) .title2 {
  grid-column: 6 / -1;
  grid-row: 4 / -1;
}

section:nth-child(14) h2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3 / 10;
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  grid-row: 3 / 8;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-indent: -1rem;
  z-index: 100;
}

section:nth-child(15) .text-grid::after {
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 4 / 2 / 8 / 7;
  margin: 2rem;
  background-image: url("images/mc-img3A.png");
  background-size: cover;
}

section:nth-child(15) h3 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-column: 6 / 11;
  grid-row: 6 / -1;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-align: right;
  border-top: 5px solid var(--cerulean);
  padding-top: 1rem;
}

section:nth-child(15) .body-text {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7 / 10;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / 6;
  margin-top: 2.5rem;
}

section:nth-child(16) .text-grid::after {
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  -ms-grid-column: 6;
  -ms-grid-column-span: 4;
  grid-area: 3 / 6 / 7 / 10;
  margin: 2rem;
  background-image: url("images/mc-img3B.png");
  background-size: cover;
}

section:nth-child(16) h3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3 / 8;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / 6;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  border-bottom: 5px solid var(--cerulean);
  margin-bottom: -1rem;
  padding-bottom: 1rem;
}

section:nth-child(16) .body-text {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4 / 8;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
}

section:nth-child(17) .text-grid::after {
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-area: 3 / 2 / 8 / 8;
  margin: 2rem;
  background-image: url("images/mc-img3C.png");
  background-size: cover;
}

section:nth-child(17) h3 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-column: 6 / 11;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  text-align: right;
  border-bottom: 5px solid var(--cerulean);
  margin-bottom: -1rem;
  padding-bottom: 1rem;
}

section:nth-child(17) .body-text {
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8 / 11;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5 / 8;
  margin-top: 2.5rem;
}

section:nth-child(18) .text-grid::after {
  -ms-grid-row: 3;
  -ms-grid-row-span: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-area: 3 / 3 / 8 / 8;
  margin: 2rem;
}

section:nth-child(18) h3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / 7;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  color: var(--white);
  border-bottom: 5px solid var(--goldenrod);
  margin-bottom: -1rem;
  padding-bottom: 1rem;
}

section:nth-child(18) .body-text {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
  font-size: 1.125rem;
}

/* clouds */
.cloud {
  position: relative;
  background-image: url("cloud.svg");
  background-repeat: no-repeat;
  width: 12rem;
  height: 6rem;
  z-index: -5;
  opacity: 0.75;
}

#bg-c1 {
  position: absolute;
  z-index: -15;
  left: 63vw;
  top: 24vh;
  opacity: 0.35;
}

#bg-c2 {
  position: absolute;
  z-index: -15;
  left: 8vw;
  top: 70vh;
  opacity: 0.45;
}

#bg-c3 {
  position: absolute;
  z-index: -15;
  left: -5vw;
  top: 45vh;
  opacity: 0.25;
}

#bg-c4 {
  position: absolute;
  z-index: -15;
  left: 94vw;
  top: 50vh;
  opacity: 0.25;
}

#s1-c1 {
  z-index: -15;
  left: 10vw;
  top: 16vh;
}

#s1-c2 {
  z-index: 2;
  left: 72vw;
  top: 40vh;
  opacity: .75;
}

#s1-c3 {
  z-index: -5;
  left: 5vw;
  top: 29vh;
  width: 24rem;
  height: 12rem;
}

#s1-c4 {
  z-index: 5;
  left: 70vw;
  top: 5vh;
  opacity: .8;
}

#s1-c5 {
  z-index: -5;
  left: 22vw;
  top: 1vh;
}

#s1-c6 {
  z-index: -10;
  left: 0vw;
  top: 50vh;
  opacity: .85;
}

#s1-c7 {
  z-index: -50;
  left: 55vw;
  top: 35vh;
}

#s1-c8 {
  z-index: -5;
  left: -2vw;
  top: 45vh;
  opacity: .85;
  width: 24rem;
  height: 12rem;
}

#s1-c9 {
  z-index: 5;
  left: 88vw;
  top: 20vh;
}

#s1-c10 {
  z-index: 5;
  left: 40vw;
  top: 5vh;
  opacity: .7;
}

#s2-c1 {
  z-index: -15;
  left: 10vw;
  top: 24vh;
  opacity: .85;
}

#s2-c2 {
  z-index: 2;
  left: 75vw;
  top: 15vh;
}

#s2-c3 {
  z-index: -5;
  left: 22vw;
  top: 50vh;
  opacity: .65;
}

#s2-c4 {
  z-index: 5;
  left: -2.5vw;
  top: 64vh;
}

#s2-c5 {
  z-index: 5;
  left: 42vw;
  top: 10vh;
  opacity: .75;
}

#s2-c6 {
  z-index: 1;
  left: 34vw;
  top: 44vh;
  opacity: .65;
  width: 24rem;
  height: 12rem;
}

#s2-c7 {
  z-index: -5;
  opacity: .75;
  left: 2vw;
  top: 16vh;
}

#s2-c8 {
  z-index: -15;
  left: 63vw;
  top: 6vh;
}

#s2-c9 {
  z-index: 5;
  left: 5vw;
  top: 24vh;
  opacity: .75;
  width: 24rem;
  height: 12rem;
}

#s2-c10 {
  z-index: -1;
  left: 64vw;
  top: 6vh;
  opacity: .85;
}

#s3-c1 {
  z-index: -1;
  left: 18vw;
  top: 12vh;
  opacity: .85;
}

#s3-c2 {
  z-index: -1;
  left: 34vw;
  top: 54vh;
  opacity: .65;
}

#s3-c3 {
  z-index: 4;
  left: 4vw;
  top: 24vh;
  opacity: .95;
}

#s3-c4 {
  z-index: -1;
  left: 74vw;
  top: 6vh;
  opacity: .45;
}

#s3-c5 {
  z-index: 1;
  left: 34vw;
  top: 54vh;
  opacity: .75;
}

#s3-c6 {
  z-index: 1;
  left: 88vw;
  top: 51vh;
  opacity: .75;
  width: 24rem;
  height: 12rem;
}

#s3-c7 {
  z-index: 1;
  left: 12vw;
  top: 17vh;
  opacity: .45;
}

#s3-c8 {
  z-index: 4;
  left: 56vw;
  top: 9vh;
  opacity: .95;
}

#s3-c9 {
  z-index: 1;
  left: 19vw;
  top: 10vh;
  opacity: .65;
}

#s3-c10 {
  z-index: 4;
  left: 72vw;
  top: 4vh;
  opacity: .85;
}
/*# sourceMappingURL=styles.css.map */